# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [55]:
# Imports
import pandas as pd
import tensorflow as tf
from pathlib import Path
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
from datetime import date
import hvplot.pandas

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [ ]:
# Import applicants_data.csv to Google Colab
#from google.colab import files
#uploaded = files.upload()

In [56]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('Resources/applicants_data.csv',))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [57]:
display(applicant_data_df.head())
display(applicant_data_df.tail())

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [58]:
# Review the data types associated with the columns
applicant_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34299 entries, 0 to 34298
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   EIN                     34299 non-null  int64
 1   NAME                    34299 non-null  object
 2   APPLICATION_TYPE        34299 non-null  object
 3   AFFILIATION             34299 non-null  object
 4   CLASSIFICATION          34299 non-null  object
 5   USE_CASE                34299 non-null  object
 6   ORGANIZATION            34299 non-null  object
 7   STATUS                  34299 non-null  int64
 8   INCOME_AMT              34299 non-null  object
 9   SPECIAL_CONSIDERATIONS  34299 non-null  object
 10  ASK_AMT                 34299 non-null  int64
 11  IS_SUCCESSFUL           34299 non-null  int64
dtypes: int64(4), object(8)
memory usage: 3.1+ MB

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [59]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
display(applicant_data_df.head())
display(applicant_data_df.tail())

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [60]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=='object'].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [61]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [62]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])
encoded_data

C:\Users\sobii\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[1., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       ...,
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 1., 0.]])

In [63]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(encoded_data,
                         columns = enc.get_feature_names_out(categorical_variables))

# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [64]:
#displayed the head and tail
display(encoded_df.head())
display(encoded_df.tail())

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [73]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df,applicant_data_df.drop(columns=categorical_variables)],axis=1)
# Review the DataFrame
encoded_df

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

In [74]:
display(encoded_df.head())
display(encoded_df.tail())

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1,36500179,0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [75]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [78]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=['IS_SUCCESSFUL'])

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [79]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [84]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled =  X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [92]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[1])

# Review the number of features
number_input_features

116

In [93]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [96]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  100

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

100

In [97]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  100

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

100

In [98]:
# Create the Sequential model instance
nn = Sequential()

WARNING:tensorflow:From C:\Users\sobii\anaconda3\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [105]:
# Add the first hidden layer
nn.add(Dense(hidden_nodes_layer1, activation='relu', input_dim = number_input_features))

In [107]:
# Add the second hidden layer
nn.add(Dense(hidden_nodes_layer2, activation='relu', input_dim = number_input_features))

In [112]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(number_output_neurons, activation='sigmoid'))

In [113]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               11700

 dense_1 (Dense)             (None, 100)               10100

 dense_2 (Dense)             (None, 100)               10100

 dense_3 (Dense)             (None, 1)                 101

 dense_4 (Dense)             (None, 1)                 2

=================================================================
Total params: 32003 (125.01 KB)
Trainable params: 32003 (125.01 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [116]:
# Compile the Sequential model
nn.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [120]:
# Fit the model using 50 epochs and the training data
nn.fit(X_train_scaled,y_train,validation_data=(X_test_scaled,y_test), epochs=50)

Epoch 1/50
WARNING:tensorflow:From C:\Users\sobii\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From C:\Users\sobii\anaconda3\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

804/804 [==============================] - 6s 5ms/step - loss: 0.6353 - accuracy: 0.7108 - val_loss: 0.6148 - val_accuracy: 0.7208
Epoch 2/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6039 - accuracy: 0.7244 - val_loss: 0.5993 - val_accuracy: 0.7209
Epoch 3/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5899 - accuracy: 0.7286 - val_loss: 0.5876 - val_accuracy: 0.7251
Epoch 4/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5773 - accuracy: 0.7295 - val_loss: 0.5751 - val_accuracy: 0.7270
Epoch 5/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5676 - accuracy: 0.7308 - val_loss: 0.5714 - val_accuracy: 0.7251
Epoch 6/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5616 - accuracy: 0.7338 - val_loss: 0.5692 - val_accuracy: 0.7221
Epoch 7/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5589 - accuracy: 0.7323 - val_loss: 0.5672 - val_accuracy: 0.7261
Epoch 8/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5555 - accuracy: 0.7347 - val_loss: 0.5643 - val_accuracy: 0.7271
Epoch 9/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5529 - accuracy: 0.7360 - val_loss: 0.5648 - val_accuracy: 0.7262
Epoch 10/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5515 - accuracy: 0.7361 - val_loss: 0.5636 - val_accuracy: 0.7270
Epoch 11/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5508 - accuracy: 0.7368 - val_loss: 0.5626 - val_accuracy: 0.7268
Epoch 12/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5500 - accuracy: 0.7363 - val_loss: 0.5667 - val_accuracy: 0.7282
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5501 - accuracy: 0.7361 - val_loss: 0.5631 - val_accuracy: 0.7283
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5491 - accuracy: 0.7366 - val_loss: 0.5636 - val_accuracy: 0.7276
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5487 - accuracy: 0.7366 - val_loss: 0.5635 - val_accuracy: 0.7263
Epoch 16/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5483 - accuracy: 0.7372 - val_loss: 0.5631 - val_accuracy: 0.7266
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5475 - accuracy: 0.7367 - val_loss: 0.5625 - val_accuracy: 0.7285
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5468 - accuracy: 0.7364 - val_loss: 0.5638 - val_accuracy: 0.7285
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5465 - accuracy: 0.7379 - val_loss: 0.5622 - val_accuracy: 0.7278
Epoch 20/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5461 - accuracy: 0.7384 - val_loss: 0.5625 - val_accuracy: 0.7294
Epoch 21/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5453 - accuracy: 0.7381 - val_loss: 0.5649 - val_accuracy: 0.7278
Epoch 22/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5452 - accuracy: 0.7387 - val_loss: 0.5644 - val_accuracy: 0.7268
Epoch 23/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5443 - accuracy: 0.7380 - val_loss: 0.5639 - val_accuracy: 0.7287
Epoch 24/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5435 - accuracy: 0.7388 - val_loss: 0.5631 - val_accuracy: 0.7287
Epoch 25/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5430 - accuracy: 0.7394 - val_loss: 0.5633 - val_accuracy: 0.7265
Epoch 26/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5424 - accuracy: 0.7394 - val_loss: 0.5625 - val_accuracy: 0.7265
Epoch 27/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5425 - accuracy: 0.7392 - val_loss: 0.5661 - val_accuracy: 0.7262
Epoch 28/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5426 - accuracy: 0.7388 - val_loss: 0.5616 - val_accuracy: 0.7298
Epoch 29/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5420 - accuracy: 0.7395 - val_loss: 0.5617 - val_accuracy: 0.7262
Epoch 30/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5405 - accuracy: 0.7405 - val_loss: 0.5609 - val_accuracy: 0.7275
Epoch 31/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5403 - accuracy: 0.7400 - val_loss: 0.5610 - val_accuracy: 0.7269
Epoch 32/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5394 - accuracy: 0.7400 - val_loss: 0.5596 - val_accuracy: 0.7290
Epoch 33/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5390 - accuracy: 0.7406 - val_loss: 0.5619 - val_accuracy: 0.7273
Epoch 34/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5384 - accuracy: 0.7406 - val_loss: 0.5609 - val_accuracy: 0.7278
Epoch 35/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5381 - accuracy: 0.7413 - val_loss: 0.5616 - val_accuracy: 0.7282
Epoch 36/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5383 - accuracy: 0.7406 - val_loss: 0.5607 - val_accuracy: 0.7275
Epoch 37/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5379 - accuracy: 0.7410 - val_loss: 0.5616 - val_accuracy: 0.7305
Epoch 38/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5381 - accuracy: 0.7399 - val_loss: 0.5628 - val_accuracy: 0.7273
Epoch 39/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5381 - accuracy: 0.7402 - val_loss: 0.5626 - val_accuracy: 0.7276
Epoch 40/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5374 - accuracy: 0.7406 - val_loss: 0.5617 - val_accuracy: 0.7287
Epoch 41/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5373 - accuracy: 0.7419 - val_loss: 0.5606 - val_accuracy: 0.7286
Epoch 42/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5371 - accuracy: 0.7420 - val_loss: 0.5619 - val_accuracy: 0.7277
Epoch 43/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5365 - accuracy: 0.7416 - val_loss: 0.5611 - val_accuracy: 0.7285
Epoch 44/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5358 - accuracy: 0.7417 - val_loss: 0.5612 - val_accuracy: 0.7273
Epoch 45/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5359 - accuracy: 0.7414 - val_loss: 0.5618 - val_accuracy: 0.7271
Epoch 46/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5362 - accuracy: 0.7414 - val_loss: 0.5624 - val_accuracy: 0.7282
Epoch 47/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5353 - accuracy: 0.7419 - val_loss: 0.5618 - val_accuracy: 0.7285
Epoch 48/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5351 - accuracy: 0.7425 - val_loss: 0.5625 - val_accuracy: 0.7277
Epoch 49/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5354 - accuracy: 0.7425 - val_loss: 0.5612 - val_accuracy: 0.7279
Epoch 50/50
804/804 [==============================] - 3s 4ms/step - loss: 0.5350 - accuracy: 0.7422 - val_loss: 0.5621 - val_accuracy: 0.7277

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [122]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5621 - accuracy: 0.7277 - 629ms/epoch - 2ms/step
Loss: 0.5620615482330322, Accuracy: 0.7276967763900757

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [131]:
# Set the model's file path
file_path = ('./Resources/AlphabetSoup.h5')

# Export your model to a HDF5 file
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [132]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [133]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [136]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = number_input_features/3.5

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

33.142857142857146

In [137]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 1

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

1

In [139]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = number_input_features/2
# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A1

58.0

In [140]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [167]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, activation='relu', input_dim=number_input_features))

# Second hidden layer
nn_A1.add(Dense(hidden_nodes_layer2_A1, activation='relu'))

# Third hidden layer
nn_A1.add(Dense(hidden_nodes_layer3_A1, activation='relu'))

# Output layer
nn_A1.add(Dense(units=number_output_neurons, activation='sigmoid'))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 33)                3861

 dropout (Dropout)           (None, 33)                0

 dense_8 (Dense)             (None, 16)                544

 dropout_1 (Dropout)         (None, 16)                0

 dense_9 (Dense)             (None, 8)                 136

 dense_10 (Dense)            (None, 1)                 9

 dense_11 (Dense)            (None, 33)                66

 dropout_2 (Dropout)         (None, 33)                0

 dense_12 (Dense)            (None, 16)                544

 dropout_3 (Dropout)         (None, 16)                0

 dense_13 (Dense)            (None, 8)                 136

 dense_14 (Dense)            (None, 1)                 9

 dense_15 (Dense)            (None, 33)                66

 dropout_4 (Dropout)         (None, 33)                0

 dense_16 (Dense)            (None, 16)                544

 dropout_5 (Dropout)         (None, 16)                0

 dense_17 (Dense)            (None, 8)                 136

 dense_18 (Dense)            (None, 1)                 9

 dense_19 (Dense)            (None, 33)                66

 dropout_6 (Dropout)         (None, 33)                0

 dense_20 (Dense)            (None, 1)                 34

 dense_21 (Dense)            (None, 58)                116

 dense_22 (Dense)            (None, 1)                 59

 dense_23 (Dense)            (None, 33)                66

 dense_24 (Dense)            (None, 1)                 34

 dense_25 (Dense)            (None, 58)                116

 dense_26 (Dense)            (None, 1)                 59

 dense_27 (Dense)            (None, 33)                66

 dense_28 (Dense)            (None, 1)                 34

 dense_29 (Dense)            (None, 58)                116

 dense_30 (Dense)            (None, 1)                 59

 dense_31 (Dense)            (None, 33)                66

 dense_32 (Dense)            (None, 1)                 34

 dense_33 (Dense)            (None, 58)                116

 dense_34 (Dense)            (None, 1)                 59

=================================================================
Total params: 7160 (27.97 KB)
Trainable params: 7160 (27.97 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [165]:
# Compile the Sequential model
nn_A1.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [168]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, validation_data=(X_test_scaled, y_test),epochs=50)

Epoch 1/50
804/804 [==============================] - 19s 11ms/step - loss: 0.6912 - accuracy: 0.5336 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 2/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 3/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 4/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6917 - val_accuracy: 0.5270
Epoch 5/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 6/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6909 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270
Epoch 7/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6909 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270
Epoch 8/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270
Epoch 9/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270
Epoch 10/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270
Epoch 11/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 12/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 13/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6909 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 14/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270
Epoch 15/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6917 - val_accuracy: 0.5270
Epoch 16/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270
Epoch 17/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6909 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270
Epoch 18/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 19/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 20/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6917 - val_accuracy: 0.5270
Epoch 21/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6917 - val_accuracy: 0.5270
Epoch 22/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6909 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 23/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270
Epoch 24/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6917 - val_accuracy: 0.5270
Epoch 25/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6917 - val_accuracy: 0.5270
Epoch 26/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270
Epoch 27/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 28/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6917 - val_accuracy: 0.5270
Epoch 29/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270
Epoch 30/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6917 - val_accuracy: 0.5270
Epoch 31/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 32/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 33/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 34/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 35/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6909 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 36/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 37/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 38/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 39/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 40/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 41/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 42/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 43/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 44/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 45/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270
Epoch 46/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 47/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 48/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270
Epoch 49/50
804/804 [==============================] - 7s 8ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6918 - val_accuracy: 0.5270
Epoch 50/50
804/804 [==============================] - 7s 9ms/step - loss: 0.6908 - accuracy: 0.5342 - val_loss: 0.6919 - val_accuracy: 0.5270

#### Alternative Model 2

In [171]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [172]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [181]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = 100

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

100

In [170]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = 100
# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

100

In [182]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [183]:
nn_A2.add(Dense(input_dim=number_input_features, units=hidden_nodes_layer1_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_53 (Dense)            (None, 100)               11700

 dense_54 (Dense)            (None, 1)                 101

=================================================================
Total params: 11801 (46.10 KB)
Trainable params: 11801 (46.10 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [184]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [185]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 4s 3ms/step - loss: 0.5841 - accuracy: 0.7183
Epoch 2/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5581 - accuracy: 0.7288
Epoch 3/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5518 - accuracy: 0.7311
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7313
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5484 - accuracy: 0.7315
Epoch 6/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5472 - accuracy: 0.7325
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - accuracy: 0.7336
Epoch 8/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5460 - accuracy: 0.7320
Epoch 9/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7335
Epoch 10/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5436 - accuracy: 0.7331
Epoch 11/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - accuracy: 0.7333
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5426 - accuracy: 0.7336
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7353
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5415 - accuracy: 0.7338
Epoch 15/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7349
Epoch 16/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5413 - accuracy: 0.7344
Epoch 17/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7353
Epoch 18/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5407 - accuracy: 0.7349
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5399 - accuracy: 0.7346
Epoch 20/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5404 - accuracy: 0.7349
Epoch 21/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7355
Epoch 22/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5396 - accuracy: 0.7362
Epoch 23/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7345
Epoch 24/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5383 - accuracy: 0.7361
Epoch 25/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5387 - accuracy: 0.7349
Epoch 26/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5382 - accuracy: 0.7357
Epoch 27/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5386 - accuracy: 0.7366
Epoch 28/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5378 - accuracy: 0.7362
Epoch 29/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7368
Epoch 30/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5376 - accuracy: 0.7368
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5375 - accuracy: 0.7373
Epoch 32/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5381 - accuracy: 0.7350
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5369 - accuracy: 0.7367
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7359
Epoch 35/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5374 - accuracy: 0.7363
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7378
Epoch 37/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7365
Epoch 38/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5371 - accuracy: 0.7373
Epoch 39/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5367 - accuracy: 0.7360
Epoch 40/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7376
Epoch 41/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7369
Epoch 42/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5360 - accuracy: 0.7375
Epoch 43/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5361 - accuracy: 0.7374
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5355 - accuracy: 0.7378
Epoch 45/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7372
Epoch 46/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5358 - accuracy: 0.7374
Epoch 47/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5373 - accuracy: 0.7379
Epoch 48/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5354 - accuracy: 0.7373
Epoch 49/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5352 - accuracy: 0.7369
Epoch 50/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5344 - accuracy: 0.7388

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [187]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 1s - loss: 0.5621 - accuracy: 0.7277 - 646ms/epoch - 2ms/step
Loss: 0.5620615482330322, Accuracy: 0.7276967763900757

In [194]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)


# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 1s - loss: 0.6919 - accuracy: 0.5270 - 856ms/epoch - 3ms/step
Loss: 0.6918975114822388, Accuracy: 0.5269970893859863

In [195]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 1s - loss: 0.5645 - accuracy: 0.7276 - 809ms/epoch - 3ms/step
Loss: 0.5644918084144592, Accuracy: 0.727580189704895

### Step 3: Save each of your alternative models as an HDF5 file.

In [191]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

# Download the model to your computer
#files.download(file_path)

In [192]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)

# Download the model to your computer
#files.download(file_path)

In [ ]:
#First Alternative Model: By adding layers and changing the loss function, significantly improved the loss metric but observed a slight decrease in accuracy compared to the original model.
#Second Alternative Model: Building on the first alternative model by adding more layers and neurons resulted in a small improvement in both loss and accuracy, but the accuracy did not surpass that of the original model
#The conclusion emphasizes a crucial point in machine learning model development: there's a balance between model complexity and performance. Increasing the complexity by adding layers and neurons can sometimes lead to overfitting, where the model learns to fit the training data too closely and performs poorly on unseen data. It's essential to carefully consider the trade-offs between complexity and generalization performance.